@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Rajdhani:wght@500&family=Rambla&family=Rosarivo&family=Source+Serif+4:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 84px;
}
.container-grid{
    width: 1920px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img, svg{
    width: 313px;
}
.menu a{
    margin: 0 42px;
    color: white;
    text-decoration: none;
    font-family: 'Rambla', sans-serif;
    text-transform: lowercase;
    font-size: 40px;
}
.menu{
    width: 912px;
    display: flex;
}
.login a{
    margin: 0px 18px 0px;
    color: white;
    text-decoration: none;
    font-family: 'Rosarivo', serif;
    font-size: 40px;
}
.login{
    width: 167px;
    display: flex;
    justify-content: space-between;
}
.barras{
    width: 100px;
    display: none;
}
.posicionamento-header{
    position: relative;
    }
.posicao-texto{
 margin: 0 15px;
 padding: 0 200px;   
}
.banner{
    height: 624px;
    background-image:url("../img/Group\ 2.png") ;
    background-repeat:none ;
    background-size: cover;
}
.texto-banner h1{
    width: 712px;
    height: 344px;
    color: black;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;    
    font-size: 144px;
}
.texto-banner p{
    width: 506px;
    height: 76px;
    margin: 0 0 0 96px;
    color: black;
    text-align: center;
    font-family: 'Rajdhani', sans-serif; 
    font-size: 64px;
}
.texto2{
    width: 596px;
    color: white;
    text-align: inherit;
    font-family: 'Rajdhani', sans-serif; 
    font-size: 64px;
    justify-content: left;
}
.area-pesquisa{
    background-color: black;
    height: 147px;
}
.area-pesquisa input[type="search"]{
    background-color: #3B2E46;
    border: 0px;
    width: 1027px;
    height: 100px;
    border-radius: 50px;
}
input{
    margin:24px 0px 0px;
    padding: 0px 100px 0px;
}
button{
    background-color: transparent;
    border: none;
    margin: -120px
}
label{
    margin: 0px 464px;
}
.area-pesquisa input[type="search"]::placeholder{
    width: 250px;
    height: 96px;
    font-size: 50px;
}
.area-pesquisa img{ 
    width: 80px;
}
.area-icones{
    background-color: #92879C;
    height: 388px;
}
.icones img{
    width: 208px;
    margin: 147px 56px 0px;
    vertical-align: baseline;
}
.loja-icone img{
    width: 161px;
}
.carrousel{
    height: 300px;
    background-image: url(../img/Group\ 4.png);
}
.produtos-carrousel img{
    margin: 0px 92px;
}
.secao-noticias{
    height: 1230px;
    background-image: url(../img/Group\ 3.png);
    background-repeat: none;
    background-size: cover;
}
.texto-sobre{
    color: white;
    margin: 0 0 0 527px;
    flex-direction: column;
    display: flex;
    text-align: center;
}
.texto-sobre h2{
    margin: 66px 0px;
    font-weight: 900;
    font-family: 'Source Serif 4',sans-serif;
    font-size: 96px;
}
.texto-sobre p{
    font-size: 48px;
    font-family:'Source Serif 4',sans-serif ;
    margin: 0 250px;
}
.secao-marcas{
    height: 100px;
    background-color: black;
}
.marcas img{
    width: 300px;
    margin: -6px 94px 0px;
    }
.riot img{
    width: 150px;
}
.razer img{
    width: 390px;
}
footer{
    background-color: #281845;
}
.rodape{
    justify-content: space-between;
    display: flex;
    padding: 120px 0px;
}
.links-footer{
    justify-content: space-around;
    display: flex;
    width: 1373px;
}
.links a{
    font-size: 36px;
    text-decoration: none;
    color: white;
    font-family: 'Rambla', sans-serif;
}
.contatos{
    padding: 157px 169px;
}
.contatos h2{
    color: white;
    font-family: 'Rambla', sans-serif;
    text-align: center;
}
.contatos img{
    width: 100px;
}
